/**
* http://www.color-hex.com/color-palette/165
* 
*/

/* GLOBAL STYLES
-------------------------------------------------- */

body {
    padding-top: 50px;      /* Spazio per la navbar */
    padding-bottom: 40px;
    color: #222;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    /*background-color: #f0f9f5;*/
}

footer {
    margin: 30px 1em;
}

footer .fa {
    font-size: 48pt;
}

h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 2.1em;
}
h3 {
    font-size: 1.8em;
}
small {
    font-size: 0.65em;
}
address .fa {
    color: #666547
}



/* NAVBAR
-------------------------------------------------- */
/* Proprietà globali della Navbar */

.navbar-inverse {
    border: none;
    background-color: #222;
}
/* Pulsante menu */

.navbar-toggle {
    border: none;
    font-size: 24pt;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0px;
}
/* Menu mobile */

.navbar-fixed-top .navbar-collapse {
    /* Aumento l'altezza di 5px rispetto al default per evitare la scrollbar */
    
    max-height: 345px;
    /* default: 340px */
}
/* Brand */

.navbar-inverse .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.1em;
    padding-top: 12px;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > .active > a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #aaa;
    /* su #222 = 6.8 (WGAC AA)*/
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a:focus .navbar-inverse .navbar-nav > li > a#language_header {
    font-weight: bold;
}
/**------COLORI------**/

.navbar-toggle,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a#language_header,
.navbar-inverse .navbar-brand {
    color: #ffe28a;
    /* su #222 = 12.5 (WGAC AAA)*/
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li:not(.active):not(.language-header) > a:hover,
.navbar-inverse .navbar-nav > li:not(.active):not(.language-header) > a:focus {
    color: #ffeaad;
}
/* Selezione linguaggio */

#language > li {
    text-align: center;
    width: 50px;
}
/* Barra social per dispositivi mobile. Usiamo i colori dei rispettivi "brand" */

.btn.soundcloud {
    background-color: #ff6600;
}

.btn.facebook {
    background-color: #3B5998;
}

.social-mobile {
    width: 100%;
    border-color: #5a5a5a
}

.social-mobile .btn {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 6px;
    color: #e6e6e6;
    width: 50%;
}
/* Pulsanti social */

#social i,
.social-mobile i {
    font-size: 20pt;
}

#social > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}
/* CAROUSEL
-------------------------------------------------- */
/* Base class */

.carousel {
    height: 200px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.carousel-inner {
    height: 100%;
}
/* Caption */

.carousel-caption {
    z-index: 10;
}
/* Controlli */

.carousel-control .fa {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 24pt;
}

.left .fa {
    left: 15%;
}

.right .fa {
    right: 15%;
}

/* Elementi del carousel */

.carousel .item {
    background-color: transparent;
    white-space: nowrap;
}

.item > img {
    width: 100%;
    transition: all 0.1s ease-in-out;
}
/* CONTENUTI
-------------------------------------------------- */

.row.featured {
    background-color: #fffeb3;
    border-radius: 6px;
    padding-bottom: 2em;
}

.column-text {
    -webkit-columns: 2 250px;
    -moz-columns: 2 250px;
    columns: 2 250px;
}

.badge {
    background-color: #666547;
    color: #fff;
    /* Su #666547 = 6 (WCAG AA) */
}

/*------ PULSANTI ------*/
.btn, .btn:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.btn-primary {
  color: #000;
  background-color: #fb2e01;
  border-color: #b42101;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #000;
  background-color: #e12900;
  background-position: 0 -15px;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #be2301;
  background-image: none;
}

/*------ PANELS ------*/
.panel-info > .panel-heading {
    background-color: #666547;
    color: #fffeb3;
}
.panel-info {
    border-color: #666547;
}

/*------ HEADER ------*/
.page-header {
    font-family: 'Pacifico', cursive;
}
.page-header span {
    font-family: cursive;
}

.page-header,
h2, h3,
h1 small,
h2 small {
    color: #666547;
    /* Su #ffeb3 = 5.7  (WCAG AA)*/
}

/*------ COLLEGAMENTI ------*/
a.list-group-item-info {
    background-color: #fffeb3;
}

h1 a,
h2 a,
a.list-group-item-info .list-group-item-heading,
footer .fa-arrow-circle-up,
a {
    color: #fb2e01;
    /* Su #fff = 3.8; su #fffeb3 = 3.7; su #ffe28a = 3 (WCAG AA per > 18pt) */
}

a:hover, a:focus {
    color: #be2301; /* su #fffeb3 = 6.4 (WCAG AA) */
    text-decoration: underline;
}

a:visited {
    color: #be2301;
}

a.list-group-item-info .list-group-item-text {
    color: #555;
}

a.list-group-item {
    overflow: auto;
    font-weight: bold
}

a.list-group-item:hover {
    background-color: #ddd;
}
a.list-group-item-info:hover {
    background-color: #ffe28a;
}

.top-buffer,
.embed-responsive {
    margin-top: 1em;
}

h3.share > a,
a.list-group-item {
    text-decoration: none
}

h3.share > .facebook {
    color: #3B5998;
}

h3.share > .twitter {
    color: #55acee;
}

h3.share > .google-plus {
    color: #d34836;
}

iframe {
    border: none;
}

/* MENU SECONDARI (notizie, media) e BREADCRUMBS
-------------------------------------------------- */

.secondary-menu {
    background-color: #fffeb3;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    text-align: center;
}

.secondary-menu >:first-child {
    padding-bottom: 6px;
}

.secondary-menu > form {
    margin-left: 10px;
}

.form-control,
label {
    display: inline;
    width: auto;
    padding: 6px 1px;
}

.breadcrumb {
    margin: 0;
    background-color: #feed96;
    font-weight: bold;
}

.breadcrumb > li {
    padding: 7px 0;
}

.breadcrumb >:first-child {
    padding-left: 10px;
}
/* MASONRY
-------------------------------------------------- */

#masonry {
    margin: 0 auto;
}

.masonry-element {
    width: 280px;
    margin: 1px 0;
    float: left;
}

.masonry-element > img {
    width: 100%;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
/* Extra-Small */

@media (max-width: 479px) {
    .carousel {
        height: 200px;
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    .carousel {
        height: 300px;
    }
}

@media (max-width: 767px) {
    .masonry {
        width: 80%;
    }
    small {
        display: block;
        margin-top: 0.2em;
    }
}

@media (min-width: 768px) {
    .secondary-menu >:first-child {
        padding-top: 6px;
    }
    .container-fluid {
        width: 90%;
        max-width: 1200px;
    }
}

/* Small (Tablet) */

@media (max-width: 991px) and (min-width: 768px) {
    .carousel {
        height: 350px;
        min-height: 350px;
    }
}
/* Medium (Laptops) */

@media (max-width: 1199px) and (min-width: 992px) {
    .carousel {
        height: 400px;
        min-height: 400px;
    }
}
/* Large (Desktops) */

@media (max-width: 1919px) and (min-width: 1200px) {
    .carousel {
        height: 450px;
        min-height: 450px;
    }
}
/* Full HD */

@media (min-width: 1920px) {
    .carousel {
        height: 600px;
        min-height: 400px;
    }
}
